force-app/main/default/flows/Account_Named_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Old_Record</name>
        <label>Get Old Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>FlowOldRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Did_Account_Name_Change</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__data</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>data</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Change_To_Chatter</name>
        <label>Post Change To Chatter</label>
        <locationX>520</locationX>
        <locationY>325</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Custom post! We changed {!Get_Old_Record.Name} to {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Did_Account_Name_Change</name>
        <label>Did Account Name Change?</label>
        <locationX>317</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Named_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Old_Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Change_To_Chatter</targetReference>
            </connector>
            <label>Named Changed</label>
        </rules>
    </decisions>
    <interviewLabel>Account Named Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Named Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Old_Record</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
